# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: ubuntu-latest

stages:
  - stage: Build
    jobs:
      - job: CompileTheCode
        steps:
          - bash: |
             echo "Hello Zensar"
             pwd
             echo "list the files in the dir: $(ls -l)"
             echo "Lixun machine name: $(hostname)"
             echo "java version : $(java --version)"
             echo "node version : $(node --version)"
             mvn clean install
             echo "After the maven build: $(ls -l)"
  - stage: DeploymentToDev
    jobs:
      - job: devDeploy
  - stage: DeploymentToQa
    jobs:
      - job: qaDeploy
  - stage: DeploymentToProd
    jobs:
      - job: prodDeploy
             
